<html>
{% load static %}
<head>
<style>
body {
    background-image: url({%static '/filter/img/bg.png'%});
    background-repeat: repeat-y;
    background-position: center top;
}
table{
    background-color: rgba(0, 0, 0, 0.0) ;
}
</style>
</head>
<body>

</br>
<center><font size=4px> <b> 3rd SOUTH INDIAN MUAY THAI CHAMPIONSHIP AND </br>
1st MBAI INDIA NATIONAL MUAY THAI PRO TITLE BELT</br>
CHAMPIONSHIP 2018</br></font></b>
<font size=2px>January 26,27 & 28 - Muncipal Stadium, Neyattinkara Town, Trivandrum, Kerala </br></font>
<font size=3px><b> Ameature Fighters</font></b>
</br>
</center>
<a titlt="print screen" alt="print screen" 
onclick="window.print();"target="_blank" style="cursor:pointer;">Print</a>
<table border="1" style width="100%">
</a>
<tr>
 <th> S.No </th>
 <th> Name of Fighter </th>
 <th> Sex </th>
 <th> State </th>
 <th> Club </th>
 <th> Weight </th>
 <th> Age </th>
 <th> Category </th>
</tr>

{%for a in list%}
<tr>
  <td align="center"> {{a.id}}</td>
  <td align="center"> {{a.name}}</td>
  <td align="center"> {{a.sex}}</td>
  <td align="center"> {{a.state}}</td>
  <td align="center"> {{a.club}}</td>
  <td align="center"> {{a.weight}}</td>
  <td align="center"> {{a.age}}</td>
  <td align="center"> {{a.category_name}}</td>
</tr>
{%endfor%}

</table>

</body>
</html>
